<li class="numId">
			<div>
				{{ministro.nombres}}
			</div>
		</li>
		<li class="numId">
			<div>
				{{ministro.apellidos}}
			</div>
		</li>
		<li class="numId">
			<div  >
				{{ministro.cedula}}
			</div>
		</li>
		<li class="numId">
			<div  >
				<select style="width: inherit;" ng-model="selected.tipo" ng-options="v.key as v.value for (k, v) in condicionales" required></select>
			</div>
		</li>
		<li class="numId">
			<div  >
				<select style="width: inherit;" ng-model="selected.estado" ng-options="v.key as v.value for (k, v) in estados" required></select>
			</div>
		</li>

<li>
       <button data-ng-click="update($index)" class="btn-principal mactu">
    <i class="fa fa-floppy-o"></i> Actualizar</button>

            <button data-ng-click="reset()" class="btn-principal mdelete">
      <i class="fa fa-times"></i> Cancelar</button>
</li>