<form name="userForm" novalidate>
<div class="clientes" >
<div class="actions" style="float: right;">
	<ul>
		<li>
			<button ng-click="init()">Nuevo
				<span class="fa fa-plus-circle"></span>
			</button>
			<button ng-click="imprimir()">Nuevo
				<span class="fa fa-plus-circle"></span>
			</button>
			<button type="submit" ng-click="guardar()" ng-disabled="userForm.$invalid">Guardar
				<span class="fa fa-floppy-o"></span>
			</button>
		</li>
	</ul>
</div>
	<h2>Ingresar partida de bautizo</h2>
	<label id="obligatorio">*Campos Obligatorios</label>
	<label for=""><i class="fa fa-check-circle"></i> Información general</label>
	<ul class = "add">
		<li>
			<label>Fecha del bautizo</label>
			<input type="date" ng-model="bautizo.fecha" required />
		</li>
		<li>
			<label>Ministro del sacramento</label>
			<select ng-model="bautizo.idMinistro" ng-options="m.id as m.nombres for m in ministros" required></select>
			
		</li>
		<li>
			<label>Libro #</label>
			<input type="number" ng-model="bautizo.libroNro" required maxlength="10"/>
		</li>
		<li>
			<label>Año partida</label>
			<input type="number" ng-model="bautizo.anioPartida" required 
			oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
		    type = "number"
		    maxlength = "4"/>
		</li>
		<li>
			<label>Folio #</label>
			<input type="number" ng-model="bautizo.folio" required maxlength="10"/>
		</li>
		<li>
			<label>Número</label>
			<input type="number" ng-model="bautizo.numero" required maxlength="5"/>
		</li>
		<li>
			<label>Padrino</label>
			<input type="text" ng-model="bautizo.padrino1" required maxlength="45"/>
		</li>
		<li>
			<label>Madrina</label>
			<input type="text" ng-model="bautizo.padrino2" required maxlength="45"/>
		</li>
		<li style="width: 36%;">
			<label>Nota marginal</label>
			<input type="text" ng-model="bautizo.nota" maxlength="150"/>
		</li>
		
	</ul>
	<label for=""><i class="fa fa-check-circle"></i> Datos de la persona</label>
	<ul class="add">
		<li>
			<label>Nombres :</label>
			<input type="text" ng-model="bautizo.persona1.nombres" required/>
		</li>
		<li>
			<label>Apellidos :</label>
			<input type="text" ng-model="bautizo.persona1.apellidos" required/>
		</li>
		<li>
			<label>Identificación :</label>
			<input type="number" ng-model="bautizo.persona1.cedula" required/>
		</li>
		<li>
			<label>Fecha de nacimiento :</label>
			<input type="date" ng-model="bautizo.persona1.fNacimiento" required/>
		</li>
		<li>
			<label>Sexo :</label>
			<select ng-model="bautizo.persona1.sexo" ng-options="m.id as m.desc for m in sexos" required></select>
			
		</li>
		<li>
			<label>Lugar de nacimiento :</label>
			<input type="text" maxlength="50" ng-model="bautizo.persona1.lugarNacimiento" required/>
		</li>
				<li>
			<label>Nombre Padre :</label>
			<input type="text" ng-model="bautizo.persona1.nombrePadre1" required/>
		</li>
		<li>
			<label>Nombre Madre :</label>
			<input type="text" ng-model="bautizo.persona1.nombrePadre2" required/>
		</li>
		<li>
			<label>Abuelos Maternos :</label>
			<input type="text" maxlength="100" ng-model="bautizo.persona1.abuelosm" />
		</li>
		<li>
			<label>Abuelos Paternos :</label>
			<input type="text" maxlength="100" ng-model="bautizo.persona1.abuelosp" />
		</li>
	</ul>
</div>
</form>