<form name="userForm" novalidate>
<div class="clientes" >
<div class="actions" style="float: right;">
	<ul>
		<li>
			<button type="submit" ng-click="guardar()" ng-disabled="userForm.$invalid">Guardar
				<span class="fa fa-floppy-o"></span>
			</button>
		</li>
	</ul>
</div>
	<h2>Ingresar datos Parroquia</h2>
	<label id="obligatorio">*Campos Obligatorios</label>
	<label for=""><i class="fa fa-check-circle"></i> Información general</label>
	<ul class = "add">
		<li>
			<label>Nombre Parroquia</label>
			<input type="text" ng-model="parroquia.nombre" maxlength="45" required />
		</li>
		<li>
			<label>Diocesis</label>
			<input type="text" ng-model="parroquia.diocesis" maxlength="45" required />
		</li>
		<li>
			<label>Dirección</label>
			<input type="text" ng-model="parroquia.direccion" required maxlength="45"/>
		</li>
		<li>
			<label>Texto para firma</label>
			<input type="text" ng-model="parroquia.pie" required maxlength="45"/>
		</li>
		<li>
			<label>Telefono</label>
			<input type="text" ng-model="parroquia.telefono" required 
			maxlength="12"
			onkeypress='return event.charCode >= 48 && event.charCode <= 57'
			/>
		</li>
	</ul>
	</div>
	</form>