<form name="userForm" novalidate>
<div class="clientes" >
	<label for=""><i class="fa fa-search-plus"></i> Busqueda </label>
	<div class="actions">
		<label>Identificación</label>
		<input type="text" ng-model="filter.documento" maxlength="12" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
		<label>Sacramento</label>
		<select ng-model="filter.tipoSacramento" ng-options="m for m in sacramentos"></select>
		<button ng-click="buscar()">
			Buscar
			<span class="fa fa-search"></span>
		</button>
	</div>
	
	
	<div id="partidas">
		<ul class="titleA partida">
			<li class="peq" >Número</li>
			<li class="peq" >Fecha</li>
			<li class="peq" >Tipo</li>
			<li >Identificación persona 1</li>
			<li >Nombre Persona 1</li>
			<li >Identificación persona 2</li>
			<li >Nombre Persona 2</li>
			<li class="peq">Generar</li>
		</ul>
		<ul ng-repeat="partida in partidas | filter: {tipo: filter.tipoSacramento}" class="tablasA partida">
		<li class="peq">
			<label>{{partida.numero | limitTo : 5}}</label>
		</li>
		<li class="peq">
			<label>{{partida.fecha|date}}</label>
		</li>
		<li class="peq">
			<label>{{partida.tipo}}</label>
		</li>
		<li>
			<label>{{partida.persona1.cedula}}</label>
		</li>
		<li>
			<label>{{partida.persona1.nombres}} - {{partida.persona1.apellidos}}</label>
		</li>
		<li>
			<label>{{partida.persona2.cedula}}</label>
		</li>
		<li>
			<label>{{partida.persona2.nombres}} - {{partida.persona2.apellidos}}</label>
		</li>
		<li class="peq">
			<button class="descargar" ng-click="descargar(partida)" >Generar  <i class="fa fa-download"></i></button>
		</li>
		</ul>
		
	</div>
	
</div>
</form>