<form name="userForm" novalidate >
<div class="clientes" id="mainDiv" sac-scan on-scan="scan(data)" active="{{isDocumentoEscaneado}}">
<div class="actions" style="float: right;">
	<ul>
		<li>
			<button ng-click="init()">Nuevo
				<span class="fa fa-plus-circle"></span>
			</button>
			<button type="submit" ng-click="guardar()" ng-disabled="userForm.$invalid">Guardar
				<span class="fa fa-floppy-o"></span>
			</button>
			<button type="submit" ng-click="descargarClientes()">Descargar clientes
				<span class="fa fa-download"></span>
			</button>
		</li>
	</ul>
</div>
<div>
	<h2>Ingresar Cliente</h2>
	<label id="obligatorio">*Campos Obligatorios</label>
	<label for=""><i class="fa fa-check-circle"></i> Información general</label>
	<ul class = "add">
		<li>
			<label>Numero documento #</label>
			<input type="number" ng-model="cliente.documento" required maxlength="40"
			/>
		</li>
		<li>
			<label>Nombres</label>
			<input type="text" ng-model="cliente.nombres" required />
		</li>
		<li>
			<label>Apellidos</label>
			<input type="text" ng-model="cliente.apellidos" required maxlength="100"/>
		</li>
		<li>
			<label>Sexo :</label>
			<select ng-model="cliente.sexo" ng-options="m.id as m.descripcion for m in sexos" required></select>
			
		</li>
		<li>
			<label>Tipo de documento :</label>
			<select ng-model="cliente.tipdoc" ng-options="m.id as m.descripcion for m in tiposDocumento" required></select>
			
		</li>
		<li>
			<label>Expedido en</label>
			<input type="text" ng-model="cliente.expedido" required maxlength="50"/>
		</li>
		<li>
			<label>Fecha de expedición</label>
			<input type="date" ng-model="cliente.feexpedicion" required />
		</li>
		<li>
			<label>Estado civil :</label>
			<select ng-model="cliente.estadocivil" ng-options="m.id as m.descripcion for m in estadosCiviles" required></select>
			
		</li>
		<li>
			<label>Nivel educativo :</label>
			<select ng-model="cliente.niveleducativo" ng-options="m.id as m.descripcion for m in nivelesEducativos" required></select>
			
		</li>
		<li>
			<label>Tipo de vivienda :</label>
			<select ng-model="cliente.tipovivienda" ng-options="m.id as m.descripcion for m in tiposVivienda" required></select>
			
		</li>
		<li>
			<label>Zona ubicación vivienda :</label>
			<select ng-model="cliente.zonavivienda" ng-options="m.id as m.descripcion for m in zonasVivienda" required></select>
			
		</li>
		<li>
			<label>Personas a cargo</label>
			<input type="number" ng-model="cliente.personascargo" required maxlength="2"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Fecha de nacimiento</label>
			<input type="date" ng-model="cliente.fenacimiento" required />
		</li>
		<li>
			<label>Lugar de nacimiento</label>
			<input type="text" ng-model="cliente.lugarnacimiento" required maxlength="50"/>
		</li>
		<li>
			<label>Dirección de domicilio</label>
			<input type="text" ng-model="cliente.direccion" required maxlength="50"/>
		</li>
		<li>
			<label>Municipio/ciudad permanencia</label>
			<input type="text" ng-model="cliente.dirresidencia" required maxlength="50"/>
		</li>
		<li>
			<label>Correo electronico</label>
			<input type="email" ng-model="cliente.email" maxlength="50"/>
		</li>
		<li>
			<label>Celular</label>
			<input type="number" ng-model="cliente.celular" maxlength="10"/>
		</li>
		<li>
			<label>Telefono fijo</label>
			<input type="number" ng-model="cliente.telefono" maxlength="10"/>
		</li>
		<li>
			<label>Ocupación :</label>
			<select ng-model="cliente.ocupacion" ng-options="m.id as m.descripcion for m in ocupaciones" required></select>
			
		</li>
		</ul>
		
		<div ng-if="ismenoredad">
			<label id="obligatorio">Cliente menor de edad, se deben ingresar datos de acudientes</label>
			<h2>Ingresar Acudiente</h2>
			<ul class = "add">
			<li>
				<label>Nombres</label>
				<input type="text" ng-model="cliente.acudiente.nombres" required />
			</li>
			<li>
				<label>Apellidos</label>
				<input type="text" ng-model="cliente.acudiente.apellidos" required maxlength="100"/>
			</li>
			<li>
				<label>Tipo de documento :</label>
				<select ng-model="cliente.acudiente.tipdoc" ng-options="m.id as m.descripcion for m in tiposDocumento" required></select>
			</li>
			<li>
			<label>Numero documento #</label>
			<input type="number" ng-model="cliente.acudiente.documento" required maxlength="12"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
			</li>
			</ul>
		</div>
</div>
</div>
</form>