<form name="userForm" novalidate>
<div class="clientes" >
<div class="actions" style="float: right;">
	<ul>
		<li>
			<button ng-click="descargar()">Nuevo
				<span class="fa fa-plus-circle"></span>
			</button>
			<button type="submit" ng-click="guardar()" ng-disabled="userForm.$invalid">Guardar
				<span class="fa fa-floppy-o"></span>
			</button>
		</li>
	</ul>
</div>
	
	<h2>Ingreso de vinculación persona natural</h2>
		<ul class = "add">
			<li>
				<label># Documento</label>
				<input type="text" ng-model="documento" required />
			</li>
			<li>
				<button type="submit" ng-click="buscarCliente()">Buscar Cliente
					<span class="fa fa-floppy-o"></span>
				</button>
			</li>
		</ul>
	<div ng-show="cliente">
	<label for=""><i class="fa fa-check-circle"></i> Información general</label>
	<ul class="add">
		<li>
			<p>{{cliente.nombres}}</p>
		</li>
		<li>
			<p>{{cliente.apellidos}}</p>
		</li>
	</ul>
	<label id="obligatorio">*Campos Obligatorios</label>
	<label for=""><i class="fa fa-check-circle"></i>Información vivienda</label>
	
	<ul class = "add">
		<li>
			<label>Ahorro programado: Entidad</label>
			<input type="text" ng-model="vinculacion.entidadahorro" required />
		</li>
		<li>
			<label>Ahorro programado: Valor($)</label>
			<input type="number" ng-model="vinculacion.vlrahorro" required maxlength="8"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Cesantias: Entidad</label>
			<input type="text" ng-model="vinculacion.entidadcesantias" required />
		</li>
		<li>
			<label>Cesantias: Valor($)</label>
			<input type="number" ng-model="vinculacion.vlrcesantias" required maxlength="8"
			oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
		</li>
		<li>
			<label>Otros,ahorros($)</label>
			<input type="number" ng-model="vinculacion.vlrotros" required maxlength="8"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Caja de compensación</label>
			<select ng-model="vinculacion.iscajacompensacion" ng-options="v.key as v.value for (k, v) in condicionales" required></select>
		</li>
		<li>
			<label>Subsidio caja compensación($)</label>
			<input type="number" ng-model="vinculacion.subsidiocaja" ng-disabled="vinculacion.iscajacompensacion != 'S'" maxlength="10"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Vigencia</label>
			<input type="number" ng-model="vinculacion.vigencia" maxlength="4" ng-disabled="vinculacion.iscajacompensacion != 'S'"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Entidad</label>
			<input type="text" ng-model="vinculacion.entidadcaja" ng-disabled="vinculacion.iscajacompensacion != 'S'" maxlength="50"/>
		</li>
		<li>
			<label>Capacidad endeudamiento($)</label>
			<input type="number" ng-model="vinculacion.capacidaddeuda" required maxlength="10"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Subsidio Municipal</label>
			<select ng-model="vinculacion.issubsidiomunicipal"  ng-options="v.key as v.value for (k, v) in condicionales" required></select>
		</li>
		<li>
			<label>Valor subsidio municipal($)</label>
			<input type="number" ng-model="vinculacion.vlrsubsidiom" ng-disabled="vinculacion.issubsidiomunicipal != 'S'" maxlength="10"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		<li>
			<label>Subsidio Departamental</label>
			<select ng-model="vinculacion.issubsidiodepartamental" ng-options="v.key as v.value for (k, v) in condicionales" required></select>
		</li>
		<li>
			<label>Valor subsidio departamental($)</label>
			<input type="number" ng-model="vinculacion.vlrsubsidiod" ng-disabled="vinculacion.issubsidiodepartamental != 'S'" maxlength="10"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
			/>
		</li>
		</ul>
		<label for=""><i class="fa fa-check-circle"></i>Datos laborales</label>
	
	<ul class = "add">
		<li>
			<label>Nombre de la empresa o negocio</label>
			<input type="text" ng-model="vinculacion.nombreempresa" required maxlength="70" />
		</li>
		<li>
			<label>Fecha de Ingreso</label>
			<input type="date" ng-model="vinculacion.feingreso" required />
		</li>
		<li>
			<label>Tipo de empresa</label>
			<select ng-model="vinculacion.tipoempresa" ng-options="m.id as m.descripcion for m in tiposEmpresa" required></select>
		</li>
		<li>
			<label>Tipo de contrato</label>
			<select ng-model="vinculacion.tipocontrato" ng-options="m.id as m.descripcion for m in tiposContrato" required></select>
		</li>
		<li>
			<label>Cargo</label>
			<input type="text" ng-model="vinculacion.cargo" required maxlength="50"/>
		</li>
		<li>
			<label>Dirección</label>
			<input type="text" ng-model="vinculacion.direcciontrabajo" required maxlength="50"/>
		</li>
		<li>
			<label>Ciudad</label>
			<input type="text" ng-model="vinculacion.ciudadtrabajo" required maxlength="50"/>
		</li>
		<li>
			<label>Barrio</label>
			<input type="text" ng-model="vinculacion.barrio" required maxlength="50"/>
		</li>
		</ul>
		
		<label for=""><i class="fa fa-check-circle"></i>Informacion financiera</label>
		<ul class = "add">
			<li>
				<label>Total Ingresos Mensuales (Salario)($)</label>
				<input type="number" ng-model="vinculacion.ingresossalario" required maxlength="8"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Total Egresos mensuales($)</label>
				<input type="number" ng-model="vinculacion.egresos" required maxlength="8"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Otros Ingresos Mensuales($)</label>
				<input type="number" ng-model="vinculacion.otrosingresos" required maxlength="8"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Deudas entidad financiera</label>
				<select ng-model="vinculacion.isdeudas" ng-options="v.key as v.value for (k, v) in condicionales" required></select>
			</li>
			<li>
				<label>Monto($)</label>
				<input type="number" ng-disabled="vinculacion.isdeudas != 'S'" ng-model="vinculacion.montodeuda" maxlength="10"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Entidad</label>
				<input type="text" ng-disabled="vinculacion.isdeudas != 'S'" ng-model="vinculacion.entidaddeuda" maxlength="50"/>
			</li>
			<li>
				<label>Total Ingresos mensuales($)</label>
				<input type="number" ng-model="vinculacion.ingresos" required maxlength="10"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Total Pasivos($)</label>
				<input type="number" ng-model="vinculacion.pasivos" required maxlength="10"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li style="width: inherit;">
			<label>Fecha corte de la información financiera suministrada</label>
				<input type="month" ng-model="vinculacion.fecorte" required />
			</li>
			<li>
				<label>Es declarante ?</label>
				<select ng-model="vinculacion.isdeclarante"  ng-options="v.key as v.value for (k, v) in condicionales" required></select>
			</li>
			<li style="width: inherit;">
				<label>De acuerdo a mis ingresos declarados me comprometo a realizar aportes a COOPECEJA por($)</label>
				<input type="number" ng-model="vinculacion.pagocooperativa" required maxlength="8"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li>
				<label>Cuota afiliación</label>
				<input type="number" ng-model="vinculacion.cuota" required maxlength="8"
					oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
			</li>
			<li style="width: inherit;">
				<label>Declaro que el origen de mis fondos y/o bienes proviene de</label>
				<input type="text" ng-model="vinculacion.origen" required maxlength="50"/>
			</li>
			
		</ul>
		
		<label for=""><i class="fa fa-check-circle"></i>Referencias</label>
	
		<ul class = "add">
		<li style="width: inherit;">
			<label>Referencia Personal (nombres y apellidos)</label>
			<input type="text" ng-model="vinculacion.referencia1" required maxlength="70" />
		</li>
		<li style="width: inherit;">
			<label>Direccion Referencia Personal</label>
			<input type="text" ng-model="vinculacion.dirreferencia1" required maxlength="70" />
		</li>
		<li style="width: inherit;">
			<label>Telefono Referencia Personal</label>
			<input type="text" ng-model="vinculacion.telreferencia1" required maxlength="12" />
		</li>
		<li style="width: inherit;">
			<label>Referencia familiar (nombres y apellidos)</label>
			<input type="text" ng-model="vinculacion.referenciaf" required maxlength="70" />
		</li>
		<li style="width: inherit;">
			<label>Direccion Referencia familiar</label>
			<input type="text" ng-model="vinculacion.dirreferenciaf" required maxlength="70" />
		</li>
		<li >
			<label>Telefono Referencia familiar</label>
			<input type="text" ng-model="vinculacion.telreferenciaf" required maxlength="12" />
		</li>
		<li >
			<label>Parentesco Referencia familiar</label>
			<input type="text" ng-model="vinculacion.parentescoreferencia" required maxlength="70" />
		</li>
		<li style="width: inherit;">
			<label>Referencia de la Cooperativa (Asociado COOPECEJA)</label>
			<input type="text" ng-model="vinculacion.referenciacoop" required maxlength="70" />
		</li>
		<li style="width: inherit;">
			<label>Teléfono</label>
			<input type="text" ng-model="vinculacion.referenciacooptel" required maxlength="12" />
		</li>
		<li >
			<label>Afinidad</label>
			<select ng-model="vinculacion.referenciacoopafi" ng-options="m.id as m.descripcion for m in afinidades" required></select>

		</li>
		</ul>
		
		<label for=""><i class="fa fa-check-circle"></i>Grupo familiar y beneficiarios</label>
		<div class="actions">
		<ul>
			<li>
				<button ng-click="nuevoBeneficiario()">Nuevo beneficiario
					<span class="fa fa-plus-circle"></span>
				</button>
			</li>
		</ul>
	</div>
	<br/>
		<div id="partidas" ng-show="vinculacion.beneficiarios.length > 0">
			<ul class="titleA partida">
				<li class="peq" ># Documento</li>
				<li>Nombres y apellidos</li>
				<li>Fecha de nacimiento</li>
				<li >Parentesco</li>
				<li class="peq" >Teléfono</li>
				<li >Designación como:</li>
				<li class="peq">%</li>
				<li class="peq">Eliminar</li>
			</ul>
			<ul ng-repeat="beneficiario in vinculacion.beneficiarios" class="tablasA partida">
			<li class="peq" >
				<input type="text" ng-model="beneficiario.documento"/>
			</li>
			<li>
				<input type="text" ng-model="beneficiario.nombre"/>
			</li>
			<li >
				<input type="date" ng-model="beneficiario.fechanacimiento"/>
			</li>
			<li >
				<input type="text" ng-model="beneficiario.parentesco"/>
			</li>
			<li class="peq">
				<input type="text" ng-model="beneficiario.telefono" maxlength="12"/>
			</li>
			<li>
				<input type="text" ng-model="beneficiario.designacion"/>
			</li>
			<li class="peq">
			</li>
			<li class="peq">
				<button class="descargar" ng-click="eliminarBeneficiario($index)" >Eliminar  <i class="fa fa-drash"></i></button>
			</li>
			</ul>
		
		</div>
		<br/>
		
		<label><i class="fa fa-check-circle"></i>Resultados de la entrevista</label>
	
		<ul class = "add">
			<li>
				<label>Lugar</label>
				<input type="text" ng-model="vinculacion.lugarentrevista" required maxlength="40" />
			</li>
			<li>
				<label>Fecha</label>
				<input type="datetime-local" ng-model="vinculacion.feentrevista" required maxlength="40" />
			</li>
			<li>
				<label>Resultado</label>
				<select ng-model="vinculacion.resultadoentrevista" ng-options="v.key as v.value for (k, v) in resultadosEntrevista" required></select>
			</li>

		</ul>
		
		<label><i class="fa fa-check-circle"></i>Datos confirmados</label>
		
		<ul class = "add">
			<li>
				<label>Dirección</label>
				<input type="checkbox" ng-model = "confirmacion.direccion">
			</li>
			<li>
				<label>Telefono</label>
				<input type="checkbox" ng-model = "confirmacion.telefono">
			</li>
			<li>
				<label>Referencia Personal</label>
				<input type="checkbox" ng-model = "confirmacion.referenciap">
			</li>
			<li>
				<label>Referencia COOPECEJA</label>
				<input type="checkbox" ng-model = "confirmacion.referenciac">
			</li>
			<li>
				<label>Referencia Familiar</label>
				<input type="checkbox" ng-model = "confirmacion.referenciaf">
			</li>
			<li>
				<label>Datos Laborales y/o Ocupación</label>
				<input type="checkbox" ng-model = "confirmacion.datoslaborales">
			</li>
			<li>
				<label>Informacion financiera</label>
				<input type="checkbox" ng-model = "confirmacion.informacionf">
			</li>
			<li>
				<label>Curso</label>
				<input type="checkbox" ng-model = "confirmacion.curso">
			</li>
			<li>
				<label>Otro</label>
				<input type="text" ng-model = "confirmacion.otro">
			</li>
			<li>
				<label>Estado</label>
				<input type="checkbox" ng-model = "confirmacion.estado">
			</li>
		</ul>
		
	</div>
</div>
</form>